@using BusinessLogicLayer.DTO
@model EmployeeDTO
@{
    ViewBag.Title = "Details";
}

    <fieldset>
        <legend>Информация о студенте</legend>

        <div class="display-label"><b>Имя</b></div>
        <div class="display-field">
            @Html.DisplayFor(model => model.FirstName)
        </div>

        <div class="display-label"><b>Фамилия</b></div>
        <div class="display-field">
            @Html.DisplayFor(model => model.LastName)
        </div>

        <div class="display-label"><b>Курсы</b></div>
        @*<ul>
            @foreach (Project project in Model.ExecutorInProjects)
            {
                <li>@project.Name</li>
            }
        </ul>
        <ul>
            @foreach (Project project in Model.EmployeeInProjects)
            {
                <li>@project.Name</li>
            }
        </ul>*@

    </fieldset>